---
import DiscussionApp from 'src/components/server/DiscussionApp/DiscussionApp.astro';
import ThreadArticle from 'src/components/server/ThreadsApp/ThreadArticle.astro';
import ThreadInfoSection from 'src/components/server/ThreadsApp/ThreadInfoSection.astro';
import Page from 'src/layouts/Page.astro';
import { ThreadSchema } from 'src/schemas/ThreadSchema';
import { createSnippet } from 'src/utils/contentHelpers';
import { t } from 'src/utils/i18n';

const { threadKey } = Astro.params;

if (!threadKey) {
  return Astro.redirect('/404');
}
// Fetch the tread data from the API
const threadResponse = await fetch(
  `${Astro.url.origin}/api/threads/${threadKey}.json`,
);

if (!threadResponse.ok) {
  return Astro.redirect('/404');
}

// We can expect the Thread to be in client-side format, so
// we'll simply parse it to verify the structure.
const thread = ThreadSchema.parse(await threadResponse.json());

const title = `${t('app:shortname')} - ${thread.channel}`;

const snippet = createSnippet(thread.markdownContent || '');
---
<Page title={title} description={snippet}>
  <div class="content-columns">
    <ThreadArticle thread={thread} />
    <ThreadInfoSection thread={thread} />
  </div>
  <DiscussionApp thread={thread} />
</Page>