---
import type { ChannelWithStats } from 'src/schemas/ChannelSchema';
import ChannelListInfoCell from './channelList/ChannelListInfoCell.astro';

interface Props {
  channelWithStats: ChannelWithStats;
}
const { channelWithStats } = Astro.props;
---
<article class="cols-2">
  <div class="surface flex">
    <cn-icon noun={channelWithStats.icon} style="flex: 0 0 auto"></cn-icon>
    <div>
      <h3 class="text-h5 m-0">
        <a href={`/channels/${channelWithStats.slug}`}>
          {channelWithStats.name}
        </a>
      </h3>
      <p class="text-small">{channelWithStats.description}</p>
    </div>
  </div>
  <div class="surface">
    <ChannelListInfoCell channelWithStats={channelWithStats} />
  </div>
</article>