---
import type { Channel } from 'src/schemas/ChannelSchema';
import ChannelListInfoCell from './channelList/ChannelListInfoCell.astro';
import ChannelListInfoCellLoading from './channelList/ChannelListInfoCellLoading.astro';

interface Props {
  channel: Channel;
}
const { channel } = Astro.props;
---
<article class="cols-2">
  <div class="surface flex">
    <cn-icon noun={channel.icon} style="flex: 0 0 auto"></cn-icon>
    <div>
      <h3 class="text-h5 m-0">
        <a href={`/channels/${channel.slug}/1`}>
          {channel.name}
        </a>
      </h3>
      <p class="text-small">{channel.description}</p>
    </div>
  </div>
  <div class="surface">
    <ChannelListInfoCell {channel} />
  </div>
</article>