---
import AuthManager from '@components/svelte/AuthManager.svelte';
import AppBar from '../components/server/AppBar.astro';
import AppRail from '../components/server/AppRail.astro';
import AppFooter from '../components/server/app/AppFooter.astro';
import BaseHead from '../components/server/BaseHead/BaseHead.astro';
import BaseTail from '../components/server/BaseTail.astro';

type Props = {
  title?: string;
  shortTitle?: string;
  description?: string;
  image?: string;
  noSharing?: boolean;
};

const { title, description, image, shortTitle, noSharing } = Astro.props;
---

<html lang="fi">
  <BaseHead {title} {description} {image} {noSharing}/>
  <body>
    <AppBar title={title} shortTitle={shortTitle} noSharing={noSharing}>
      <slot name="app-bar" />
    </AppBar>
    <AppRail />
	  <main>
      <slot />
      <AppFooter>
        <slot name="app-footer-credits" slot="app-footer-credits"/>
      </AppFooter>
    </main>
    <nav id="fab-tray">
      <slot name="fab-tray"></slot>
    </nav>
    <slot name="app-background-poster" />
    <AuthManager client:only="svelte" />
    <BaseTail />
  </body>
</html>
